/* Estilos para los botones */

.button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .update-button {
    background-color: #007bff; /* Color azul para el bot贸n de actualizar */
    color: #fff;
    margin-right: 5px; /* Agrega margen a la derecha del bot贸n */
  }
  
  .delete-button {
    background-color: #dc3545; /* Color rojo para el bot贸n de eliminar */
    color: #fff;
    margin-right: 5px; /* Agrega margen a la derecha del bot贸n */
  }
  
  